.txt-gradient-green {
  background: linear-gradient(180deg, #3a7e12, #bcff64);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txt-gradient-blue {
  background: linear-gradient(180deg, #7e1212, #ff6464);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txt-gradient-gray {
  background: linear-gradient(180deg, #5e5e5e, #e7e7e7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-white {
  background-color: #fff;
}

.current-booking {
  box-shadow: 1px 1px 7px 2px rgba(235, 235, 235, 0.75) inset;
  -webkit-box-shadow: 1px 1px 7px 2px rgba(235, 235, 235, 0.938) inset;
  -moz-box-shadow: 1px 1px 7px 2px rgba(235, 235, 235, 0.938) inset;
  padding: 10px;
  border-radius: 3px;
}

.yellow-gradient-bg{
  background: #FFE3A6 ;
  background: linear-gradient(0deg, rgba(255, 227, 166, 1) 0%, rgba(254, 249, 195, 1) 100%);
}

.dash-cover {
  margin-top: 150px;
}

.top-6_7 {
  top: 1.7rem
}

.loader {
    height: 77vh;
    overflow: hidden;
    background: transparent;
    align-items: center;
    justify-content: center;
    z-index: 1;
}